<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/7cd947affd.js" crossorigin="anonymous"></script>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://cdn.tailwindcss.com"></script>
  <title>Codefury7.0</title>
</head>

<body>
  <!-- Navbar and Home page code -->
  <header>
    <div class="navbar">
      <!-- logo -->
      <div class="logo">
        <a href="#">Web <span id="lg">Logo</span> </a>
      </div>
      <ul class="navlinks">
        <li><a href="#">Home</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="#">Helpline</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="/news">Latest News</a></li>
      </ul>
      <li> <a href="#">Hello, {{user}}</a></li>
      <li class="bg-[#03a803] px-4 py-2 rounded-xl text-white login"><a href="{{form}}">{{content}}</a></li>
      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="dropbox_menu">
      <li><a href="#">Home</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="#">Helpline</a></li>
      <li><a href="#">Donate</a></li>
      <li> <a href="#">Hello, {{user}}</a></li>
      <li><a href="{{form}}">{{content}}</a></li>

    </div>
  </header>
  <main>
    <!-- <section class="home">
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, numquam.</p>

    </section> -->

    <section class="home">
      <!-- <div class="slider py-20 w-[100%]   mx-auto hid ">
        <div class="slides mx-auto rounded-xl overflow-hidden relative h-[400px] w-[70%]">
          
            
            <div class="slide slide w-[100%] absolute h-full transition-[1s] ">
                <img src="https://plus.unsplash.com/premium_photo-1695914184905-d20171650071?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="h-[100%] hover:scale-[1.1]  transition-all" alt="Red Slide">
                <div class="popup">Tired of usin Casio <br>Try Teja calculator<br>
                Click here:<button class="p-1 ml-2 rounded-lg hover:-translate-y-1 transition-all bg-black" ><a href="https://github.com/Raviteja112004/Simple-Calculator">Link</a></button></div>
            </div>
            <div class="slide  slide w-[100%] absolute  h-full transition-[1s]">
                <img src="https://media.istockphoto.com/id/182714521/photo/flood.jpg?s=2048x2048&w=is&k=20&c=iLpJMpfdttAhwQv1rIR3KbULEIo0_I5H0rA_WcmSH_k=" class="h-[100%]  hover:scale-[1.1] transition-all" alt="Blue Slide">
                <div class="popup">Tic-Tac-Toe Game <br>
                    Wanna Play? <br>Click here:<button class="p-1 ml-2 rounded-lg hover:-translate-y-1 transition-all bg-black" ><a href="https://github.com/Raviteja112004/TicTacToe">Link</a></button></div>
            </div>
            <div class="slide slide w-[100%] absolute  h-full transition-[1s]">
                <img src="images/quotegen.jpg" class="h-[100%]  hover:scale-[1.1] transition-all" alt="Green Slide">
                <div class="popup">Want Some Motivation?<br>
                    Go to My Quote Generator <br>Click here:<button class="p-1 ml-2 rounded-lg hover:-translate-y-1 transition-all bg-black" ><a href="https://github.com/Raviteja112004/Quote-Generators">Link</a></button></div>
            </div>
            <div class="slide slide w-[100%] absolute  h-full transition-[1s]">
                <img src="images/todo.jpg" class="h-[100%]  hover:scale-[1.1] transition-all" alt="Green Slide">
                <div class="popup">Setting Goals and not <br> following at all? 
                    Here's a <br>To-Do list App for You!! <br>Click here:<button class="p-1 ml-2 rounded-lg hover:-translate-y-1 transition-all bg-black" ><a href="https://github.com/Raviteja112004/To-Do">Link</a></button></div>
            </div>
            <div class="slide slide w-[100%] absolute h-full  transition-[1s]">
                <img src="images/instahome.jpg" class="h-[100%]  hover:scale-[1.1] transition-all" alt="Green Slide">
                <div class="popup">Like Clones? 
                    Check My <br> InstaHome Page Clone <br> Click here:<button class="p-1 ml-2 rounded-lg hover:-translate-y-1 transition-all bg-black" ><a href="https://github.com/Raviteja112004/InstagramHomePageClone">Link</a></button></div>
            </div>
        </div>
        <div class="buttons flex justify-center space-x-20 mt-10">
        <button class="prev bg-black text-white p-3 px-5 hover:bg-white hover:text-black transition-hover transition-[1s] rounded-xl ">&#10094</button>
        <button class="bg-black text-white p-3 px-5 hover:bg-white hover:text-black transition-hover transition-[1s] rounded-xl"><a href="https://github.com/Raviteja112004" target="_blank" class="bg-transparent  p-3 px-5 hover:bg-transparent">Github Link</a></button>
        <button class="next bg-black text-white p-3 px-5 hover:bg-white hover:text-black transition-hover transition-[1s] rounded-xl">&#10095</button>
    </div>
         <button class=" gitpage">Github</button>
        <button class="web">Link</button> -->
      <!-- </div>
</div>  -->
    </section>
  </main>






  <!-- -------------------------footer---------------------------- -->

  <footer>
    <div class="row">
      <div class="col">
        <div class="logo1">
          <a href="#">Web logo</a>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident quod quia fuga alias totam non
          nobis ipsam laboriosam corporis.</p>

      </div>
      <div class="col">
        <h3>address <div class="underline"><span></span></div>
        </h3>
        <p>UVCE , KR Circle</p>
        <p>Bangalore</p>
        <p>Karnataka , PIN 560001 , India</p>
        <p class="email">abcdefg@gmail.com</p>
        <h4>+91 - 0123456789</h4>

      </div>
      <div class="col">
        <h3>Links <div class="underline"><span></span></div>
        </h3>
        <li><a href="#">Home</a></li>
        <li><a href="#">Weather</a></li>
        <li><a href="#">Helpline</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#"></a></li>
      </div>
      <div class="col">
        <h3>Suggestion Box <div class="underline"><span></span></div>
        </h3>
        <form>
          <i class="fa-regular fa-envelope"></i>
          <input type="email" placeholder="Suggestions" required>
          <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
        </form>
        <div class="social_icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-linkedin"></i>

        </div>
      </div>
    </div>
    <hr>
    <p class="copyright">Mywebsite &#169; 2024 -All Rights Reserved</p>

  </footer>

  <script src="home.js"></script>
  <script>
    const toggleBtn = document.querySelector('.toggle_btn');
    const toggleBtnIcon = document.querySelector('.toggle_btn i');
    const dropboxMenu = document.querySelector('.dropbox_menu');

    toggleBtn.onclick = function () {
      dropboxMenu.classList.toggle('open');
      const isOpen = dropboxMenu.classList.contains('open');

      toggleBtnIcon.className = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars';
    }
    </script>
   {{#if successMessage}}
  <script>
    $(document).ready(function() {
      toastr.options = {
        "closeButton": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "timeOut": "3000"
      };
      toastr.success("{{ successMessage }}");
    });
  </script>
  {{/if}}

  {{#if successSign}}
  <script>
    $(document).ready(function() {
      toastr.options = {
        "closeButton": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "timeOut": "3000"
      };
      toastr.success("{{ successSign }}");
    });
  </script>
  {{/if}}
</body>

</html>